# Build artifacts and packaging metadata
build/
dist/
*.egg-info/
camera/__pycache__
filters/__pycache__
pose/__pycache__
utils/__pycache__
__pycache__

# Python virtual environments
.venv/

# Ignore VSCode workspace settings
.vscode/

